@mixin light_flash($delay) {
    animation-name: light_flash;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: $delay;
    animation-iteration-count: infinite;
}

@mixin zoom_in_out($delay) {
    max-width:none;
    animation-name: zoom_in_out;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: $delay;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin bg_diff() {
    position:relative;

    &::before {content:''; display:block; position:absolute; width:100%; height:100%; top:0; left:0; z-index:-1; background:$primary_color; mix-blend-mode:difference;}
}

// ANIMATIONS
@keyframes light_flash {
    0% {opacity:1;}
    25% {opacity:0.8;}
    40% {opacity:1;}
    50% {opacity:0.2;}
    55% {opacity:1;}
    70% {opacity:0.3;}
    100% {opacity:1;}
}

@keyframes zoom_in_out {
    0% {width:100%; height:100%;}
    100% {width:103%; height:103%;}
}