<div class="search_fc_container">
    <input class="searchfc" type="text" v-model="searchQuery" placeholder="Search by name or alias" />
</div>

<button id="openFilters" class="btn_all" @click="toggleFilters">Open Filters</button>
<div class="select">
    <div>
        <button class="opened" @click="accordeon">Gender</button>
    <ul class="button-group" data-filter-group="GENDER">
        <li><button class="button this" data-filter="All" @click="filter">All</button></li>
        <li v-for="gender in genders" :key="gender"><button class="button" :data-filter="`${gender.replace(' ', '_')}`" @click="filter">[[gender.replace('', '')]]</button></li>
    </ul>
    </div>
    <div>
        <button @click="accordeon">Born In</button>
        <ul class="button-group" data-filter-group="BORN">
            <li><button class="button this" data-filter="All" @click="filter">All</button></li>
            <li v-for="year in birth" :key="year"><button class="button" :data-filter="`${year.replace('_', '_')}`" @click="filter">[[year.replace('_', '_')]]s</button></li>
        </ul>
    </div>

    <div class="full">
        <button @click="accordeon">Ethnicity</button>
        <ul class="button-group" data-filter-group="ETHNICITY">
            <li><button class="button this" data-filter="All" @click="filter">All</button></li>
            <li v-for="eth in eths" :key="eth"><button class="button" :data-filter="`${eth.replace('_', ' ')}`" @click="filter">[[eth.replace('_', ' ')]]</button></li>
        </ul>
    </div>

    <div class="full">
    <button @click="accordeon">Nationality</button>
    <ul class="button-group" data-filter-group="NATIONALITY">
        <li><button class="button this" data-filter="All" @click="filter">All</button></li>
        <li v-for="nation in nationality" :key="nation"><button class="button" :data-filter="`${nation.replace('_', ' ')}`" @click="filter">[[nation.replace('_', ' ')]]</button></li>
    </ul>
    </div>

    <div>
    <button @click="accordeon">Hair Color</button>
    <ul class="button-group" data-filter-group="HAIR">
        <li><button class="button this" data-filter="All" @click="filter">All</button></li>
        <li v-for="hair in dhair" :key="hair"><button class="button" :data-filter="`${hair.replace('_', ' ')}`" @click="filter">[[hair.slice(0, -1)]]</button></li>
    </ul>
    </div>

    <div>
    <button @click="accordeon">Eye Color</button>
    <ul class="button-group" data-filter-group="EYE">
        <li><button class="button this" data-filter="All" @click="filter">All</button></li>
        <li v-for="eye in deyes" :key="eye"><button class="button" :data-filter="`${eye.replace('_', ' ')}`" @click="filter">[[eye.slice(0, -1)]]</button></li>
    </ul>
    </div>

    <div>
    <button @click="accordeon">Other</button>
    <ul class="button-group" data-filter-group="OTHER">
        <li><button class="button this" data-filter="All" @click="filter">All</button></li>
        <li v-for="item in other" :key="item"><button class="button" :data-filter="`${item.replace('_', ' ')}`" @click="filter">[[item.replace('_', ' ')]]</button></li>
    </ul>
    </div>

    <div class="full">
        <button @click="accordeon">Job</button>
        <ul class="button-group" data-filter-group="JOB">
            <li><button class="button this" data-filter="All" @click="filter">All</button></li>
            <li v-for="job in occupation" :key="job"><button class="button" :data-filter="`${job.replace('_', '_')}`" @click="filter">[[job.replace('_', ' ')]]</button></li>
        </ul>
    </div>
</div>