<div v-for="fc in resultQuery" :key="fc.name" :class="`list_item All ${fc.gender.replace(' ', '_')} ${fc.birth[0].class} ${fc.ethnicity[0].class} ${fc.dhair} ${fc.deyes} ${fc.particularities} ${fc.nationality.toLowerCase()} ${fc.occupation[0].class} ${fc.favorite}`">
    <div>
        <div class="img">
            <img v-if="fc.avatars[0].url !== ''" loading="lazy" :src="fc.avatars[0].url" alt=""/>
            <img v-else :src="fc.img" alt="">
        </div>
        <div class="txt">
            <div>
                <h2>[[fc.identity[0].name]]</h2>
                <p v-if="fc.identity[0].alias !== ''" class="subtitle">Alias [[fc.identity[0].alias]]</p>
                <ul class="infos">
                    <li>[[fc.gender]]</li>
                    <li v-if="fc.birth[0].full !== ''">[[fc.birth[0].full]]</li>
                    <li v-else>birthdate unknown</li>
                    <li v-if="fc.favorite" class="fave_fc" title="wraith's favorite fcs">★</li>
                </ul>
                <div class="img_credit">
                    <p v-if="fc.avatars[0].unabled">avatar by <a :href="`${fc.avatars[0].credit}.tumblr.com`" target="blank" :title="`Visit ${fc.avatars[0].credit}'s website`">[[fc.avatars[0].credit]]</a></p>

                    <p v-if="fc.icons[0].unabled">icon by<a href="`${fc.icons[0].credit}.tumblr.com`" v-if="fc.icons[0].credit !== ''" target="blank" :title="`Visit ${fc.icons[0].credit}'s website`"> [[fc.icons[0].credit]]</a><span v-else> unknown</span>
                    </p>
                    <p v-else><span>icon by unknown</span></p>
                </div>
            </div>
            <ul class="infos">
                <li><span>gender</span> [[fc.gender]]</li>
                <li v-if="fc.birth[0].full !== ''"><span>birth date</span> [[fc.birth[0].full]]</li>
                <li v-else><span>birth date</span> unknown</li>
                <li v-if="fc.nationality !== ''"><span>nationality</span> [[fc.nationality]]</li>
                <li v-else><span>nationality</span> unknown</li>
                <li v-if="fc.occupation[0].full !== ''"><span>occupation</span> [[fc.occupation[0].full]]</li>
                <li v-else><span>occupation</span> unknown</li>
                <li v-if="fc.ethnicity[0].full !== ''" class="eth">
                    <span>ethnicity</span> [[fc.ethnicity[0].full]]
                </li>
                <li class="eth" v-else><span>ethnicity</span> unknown ([[fc.ethnicity[0].class]])</li>
            </ul>
        </div>
    </div>
    {{> fc_nav}}
</div>