@media only screen and (max-width: 800px) {
    main, section {width: 80vw;}

    #directory {
        flex-direction:column; padding:0; height:auto;
        .fc_liste {margin:0; padding:0 5rem;}

        #filters {position:sticky; width:100%; padding:0 5rem 3rem 5rem; z-index:50; background-color:$black; overflow:visible;
            .select {display:flex; flex-wrap:wrap; position:relative; overflow:hidden; height:0;}
            .select > div {width:50%; display:block; }
            .select > div:nth-of-type(odd) {padding-right:1rem;}
            .select.opened {height:auto;}
        }

        #openFilters {display:block; position:absolute; bottom:0; left:50%; transform:translate(-50%, 50%);}
    }
}