<header data-sticky-container>
    <div id="sticky-header" class="grid-x grid-padding-x align-justify align-middle" data-sticky data-margin-top="0" data-top-anchor="header:top">
        <div class="cell shrink">
            <h1 id="logo">
                <a href="/" title="Go to home page">
                    <img src="../assets/img/SVG/LOGO.svg" width="132" height="54" alt=""/>
                </a>
            </h1>
        </div>
        <div class="right_cell cell auto">
            <nav>
                <ul class="grid-x grid-padding-x align-right">
                    <li class="cell shrink">
                        <a href="/">
                            <span>Index</span>
                            Home
                        </a>
                    </li>
                    <li class="cell shrink">
                        <a href="/tagged/avatars">
                            <span>400x640</span>
                            Avatars
                        </a>
                    </li>
                    <li class="cell shrink">
                        <a href="/ask">
                            <span>Ask</span>
                            Request
                        </a>
                    </li>
                    <li class="cell shrink">
                        <a href="/fcdirectory">
                            <span>Fc Directory</span>
                            Directory
                        </a>
                    </li>
                    <li class="cell shrink">
                        <a href="/archives">
                            <span>All Posts</span>
                            Archives
                        </a>
                    </li>
                    <li class="cell shrink">
                        <a href="/about">
                            <span>Exo</span>
                            About
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


</header>